<div id="mainBody">
	<div class="container">
		<h1>Các câu hỏi thường gặp</h1>
		<hr class="soften" />
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseOne">
							Thời gian vận chuyển là bao lâu ?
						</a></h4>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
					<div class="accordion-inner">
						Thời gian vận chuyển tuỳ thuộc vào địa chỉ người nhận( không kể T7, Cn):
						<br /><br />+ Nội thành(HCM, HN): 1 ngày.
						<br /><br />+ Ngoại thành: 2-3 ngày.
						<br /><br />+ Vận chuyển nước ngoài: 7-9 ngày.

					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseTwo">
							Hàng này là nhập khẩu hay chính hãng ?
						</a></h4>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">
						Tuỳ thuộc vào từng loại sản phẩm có thể có hàng chính hãng hoặc không, giá hàng nhập khẩu sẽ rẻ hơn rất nhiều so với hàng chính hãng
						, tuy nhiên hàng chính hãng được bảo hành tại các trung tâm uy quyền, hàng nhập khẩu được bảo hành tại shop(12 tháng trên biên lai).
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseThree">
							Tôi có thể kiểm tra hàng ?
						</a></h4>
				</div>
				<div id="collapseThree" class="accordion-body collapse">
					<div class="accordion-inner">
						Người nhận chỉ có thể kiểm tra bao bì ngoài hộp, không được mở seal.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseFour">
							Cách thức đổi trả hàng ?
						</a></h4>
				</div>
				<div id="collapseFour" class="accordion-body collapse">
					<div class="accordion-inner">
						Vui lòng trong thông báo cho shop trước 7 ngày vì qua 7 ngày shop không giải quyết đổi trả, chỉ đổi trả khi 
						giao sai sản phẩm, sản phẩm bị hư,...
						<br /><br />+ Đóng gói sản phẩm và gửi ra bưu điện, ghi tên địa chỉ shop, người nhận.
						<br /><br />+ Đợi shop kiểm tra sản phẩm, nếu không có lỗi từ phía người nhận, shop sẽ tiến hành hoàn tiền.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseFive">
							Chính sách bảo hành của shop ?
						</a></h4>
				</div>
				<div id="collapseFive" class="accordion-body collapse">
					<div class="accordion-inner">
						Đổi trả trong 7 ngày nếu phát sinh vấn đề. Sau 7 ngày tiến hành việc bảo hành tại shop đối 
						với sản phẩm nhập khẩu trong 12 tháng.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<h4><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
							href="#collapseSix">
							Shop có hỗ trợ kĩ thuật cho người dùng ?
						</a></h4>
				</div>
				<div id="collapseSix" class="accordion-body collapse">
					<div class="accordion-inner">
						Đối với dòng sản phẩm điện tử được hỗ trợ online hoàn toàn miễn phí, còn các sản phẩm còn lại
						sẽ khộng được hỗ trợ về kĩ thuật.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>