<div id="mainBody">
	<div class="container">
		<div class="row">
			<!-- Sidebar ================================================== -->
			<div id="sidebar" class="span3">
				<div class="well well-small"><a id="myCart" href="/product_summary"><img src="/images/ico-cart.png"
							alt="cart">3 Món trong giỏ hàng <span class="badge badge-warning pull-right">300.000
							đ</span></a></div>
				<ul id="sideManu" class="nav nav-tabs nav-stacked">
					<li class="subMenu open"><a> ĐIỆN TỬ [230]</a>
						<ul>
							<li><a class="active" href="/products"><i class="icon-chevron-right"></i>Máy ảnh (100)
								</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Máy tính, Tablets & laptop
									(30)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Điện thoại (80)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Âm thanh (15)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a> QUẦN ÁO [840] </a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nữ (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nữ (8)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Túi xách nữ (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nam (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nam (6)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo trẻ em (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày trẻ em (3)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a>THỨC ĂN VÀ NƯỚC UÓNG [1000]</a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Bia (35)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Nước ngọt (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Gà rán (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Thịt cừu (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Rượu vang (chai mang về) (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Cá (5)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Combo (3)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Tráng miệng (11)</a></li>
						</ul>
					</li>
					<li><a href="/products">SỨC KHOẺ & SẮC ĐẸP [18]</a></li>
					<li><a href="/products">THỂ THAO & ĐỜI SỐNG [58]</a></li>
					<li><a href="/products">SÁCH & GIẢI TRÍ [14]</a></li>
				</ul>
				<br />
				<div class="thumbnail">
					<img src="/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
					<div class="caption">
						<h5>Panasonic</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">4.000.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
					<div class="caption">
						<h5>Kindle</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">4.000.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
					<div class="caption">
						<h5>Phương thức thanh toán</h5>
					</div>
				</div>
			</div>
			<!-- Sidebar end=============================================== -->
			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
					<li class="active">Thông báo pháp lý</li>
				</ul>
				<h3>Pháp lý</h3>
				<hr class="soft" />
				<div id="legalNotice">
					<h4>Bảo vệ thông tin khách hàng</h4><br />
					<h5>1. Thu thập thông tin cá nhân</h5>
					<p>
						Thông tin của thành viên cung cấp khi đăng ký : Tên, địa chỉ, điện thoại, fax, địa chỉ email, số
						điện thoại di động, tên công ty, địa chỉ công ty, chức vụ, bí danh, ngày tháng năm sinh, giới
						tính, số thẻ tín dụng..
					</p>
					<h5>2. Mục đích sử dụng</h5><br />
					<p>
						Dùng để mua hàng, tuyên truyền quảng cáo.
					</p>
					<h5>3. Xác nhận, chỉnh sửa thông tin cá nhân</h5><br />
					<p>
						Thành viên có thể xác nhận, chỉnh sửa, thêm, xóa, hủy bỏ tài khoản của mình, yêu cầu Sendo.vn
						không cung cấp thông tin cho người bán trên Bootsshop.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>