<div id="mainBody">
	<div class="container">
		<div class="row">
			<!-- Sidebar ================================================== -->
			<div id="sidebar" class="span3">
				<div class="well well-small"><a id="myCart" href="/product_summary"><img src="/images/ico-cart.png"
							alt="cart">3 Món trong giỏ hàng <span class="badge badge-warning pull-right">300.000
							đ</span></a></div>
				<ul id="sideManu" class="nav nav-tabs nav-stacked">
					<li class="subMenu open"><a> ĐIỆN TỬ [230]</a>
						<ul>
							<li><a class="active" href="/products"><i class="icon-chevron-right"></i>Máy ảnh (100)
								</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Máy tính, Tablets & laptop
									(30)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Điện thoại (80)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Âm thanh (15)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a> QUẦN ÁO [840] </a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nữ (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nữ (8)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Túi xách nữ (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nam (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nam (6)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo trẻ em (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày trẻ em (3)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a>THỨC ĂN VÀ NƯỚC UÓNG [1000]</a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Bia (35)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Nước ngọt (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Gà rán (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Thịt cừu (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Rượu vang (chai mang về) (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Cá (5)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Combo (3)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Tráng miệng (11)</a></li>
						</ul>
					</li>
					<li><a href="/products">SỨC KHOẺ & SẮC ĐẸP [18]</a></li>
					<li><a href="/products">THỂ THAO & ĐỜI SỐNG [58]</a></li>
					<li><a href="/products">SÁCH & GIẢI TRÍ [14]</a></li>
				</ul>
				<br />
				<div class="thumbnail">
					<img src="/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
					<div class="caption">
						<h5>Panasonic</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">3.990.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
					<div class="caption">
						<h5>Kindle</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">3.990.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
					<div class="caption">
						<h5>Phương thức thanh toán</h5>
					</div>
				</div>
			</div>
			<!-- Sidebar end=============================================== -->
			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
					<li><a href="/products">Sản phẩm</a> <span class="divider">/</span></li>
					<li class="active">Thông tin sản phẩm</li>
				</ul>
				<div class="row">
					<div id="gallery" class="span3">
						<a href="/images/products/large/f1.jpg" title="Fujifilm FinePix S2950 Digital Camera">
							<img src="/images/products/large/3.jpg" style="width:100%"
								alt="Fujifilm FinePix S2950 Digital Camera" />
						</a>
						<div id="differentview" class="moreOptopm carousel slide">
							<div class="carousel-inner">
								<div class="item active">
									<a href="/images/products/large/f1.jpg"> <img style="width:29%"
											src="images/products/large/f1.jpg" alt="" /></a>
									<a href="/images/products/large/f2.jpg"> <img style="width:29%"
											src="/images/products/large/f2.jpg" alt="" /></a>
									<a href="/images/products/large/f3.jpg"> <img style="width:29%"
											src="/images/products/large/f3.jpg" alt="" /></a>
								</div>
								<div class="item">
									<a href="/images/products/large/f3.jpg"> <img style="width:29%"
											src="/images/products/large/f3.jpg" alt="" /></a>
									<a href="//images/products/large/f1.jpg"> <img style="width:29%"
											src="/images/products/large/f1.jpg" alt="" /></a>
									<a href="/images/products/large/f2.jpg"> <img style="width:29%"
											src="/images/products/large/f2.jpg" alt="" /></a>
								</div>
							</div>
							<!--  
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> 
			  -->
						</div>

						<div class="btn-toolbar">
							<div class="btn-group">
								<span class="btn"><i class="icon-envelope"></i></span>
								<span class="btn"><i class="icon-print"></i></span>
								<span class="btn"><i class="icon-zoom-in"></i></span>
								<span class="btn"><i class="icon-star"></i></span>
								<span class="btn"><i class=" icon-thumbs-up"></i></span>
								<span class="btn"><i class="icon-thumbs-down"></i></span>
							</div>
						</div>
					</div>
					<div class="span6">
						<h3>Fujifilm FinePix S2950 Digital Camera </h3>
						<small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
						<hr class="soft" />
						<form class="form-horizontal qtyFrm">
							<div class="control-group">
								<label class="control-label"><span>3.990.000 đ</span></label>
								<div class="controls">
									<input type="number" class="span1" placeholder="Qty." />
									<button type="submit" class="btn btn-large btn-primary pull-right"> Thêm vào <i
											class=" icon-shopping-cart"></i></button>
								</div>
							</div>
						</form>

						<hr class="soft" />
						<h4>Còn lại: 99</h4>
						<form class="form-horizontal qtyFrm pull-right">
							<div class="control-group">
								<label class="control-label"><span>Màu sắc</span></label>
								<div class="controls">
									<select class="span2">
										<option>Đen</option>
										<option>Đỏ</option>
										<option>Xanh da trời</option>
										<option>Nâu</option>
									</select>
								</div>
							</div>
						</form>
						<hr class="soft clr" />
						<p>
							14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Chụp hình full HD và quay phim 1280
							x 720p HD
							. Độ nhạy ISO ISO6400 ở độ phân giải giảm.
							Theo dõi lấy nét tự động. Chế độ toàn cảnh chuyển động. Công nghệ nhận diện khuôn mặt với
							phát hiện Blink và chế độ Smile and shot.
							Không bao gồm 4 pin AA. WxDxH 110,2 × 81,4x73,4mm. Trọng lượng 0.341kg (không bao gồm pin và
							thẻ nhớ). Trọng lượng 0,437kg (bao gồm pin và thẻ nhớ).

						</p>
						<a class="btn btn-small pull-right" href="#detail">Thông tin thêm</a>
						<br class="clr" />
						<a href="#" name="detail"></a>
						<hr class="soft" />
					</div>

					<div class="span9">
						<ul id="productDetail" class="nav nav-tabs">
							<li class="active"><a href="#home" data-toggle="tab">Thông tin sản phẩm</a></li>
							<li><a href="#profile" data-toggle="tab">Các sản phẩm liên quan</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="home">
								<h4>Thông tin sản phẩm</h4>
								<table class="table table-bordered">
									<tbody>
										<tr class="techSpecRow">
											<th colspan="2">Thông tin</th>
										</tr>
										<tr class="techSpecRow">
											<td class="techSpecTD1">Thương hiệu: </td>
											<td class="techSpecTD2">Fujifilm</td>
										</tr>
										<tr class="techSpecRow">
											<td class="techSpecTD1">Mẫu:</td>
											<td class="techSpecTD2">FinePix S2950HD</td>
										</tr>
										<tr class="techSpecRow">
											<td class="techSpecTD1">Ra mắt:</td>
											<td class="techSpecTD2"> 2011-01-28</td>
										</tr>
										<tr class="techSpecRow">
											<td class="techSpecTD1">Kích thước:</td>
											<td class="techSpecTD2"> 5.50" h x 5.50" w x 2.00" l, 0.375 kg</td>
										</tr>
										<tr class="techSpecRow">
											<td class="techSpecTD1">Kích thước màn hình:</td>
											<td class="techSpecTD2">3</td>
										</tr>
									</tbody>
								</table>

								<h5>Features</h5>
								<p>
									14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Chụp hình full HD và quay
									phim 1280 x 720p HD
									. Độ nhạy ISO ISO6400 ở độ phân giải giảm.
									Theo dõi lấy nét tự động. Chế độ toàn cảnh chuyển động. Công nghệ nhận diện khuôn
									mặt với phát hiện Blink và chế độ Smile and shot.
									Không bao gồm 4 pin AA. WxDxH 110,2 × 81,4x73,4mm. Trọng lượng 0.341kg (không bao
									gồm pin và thẻ nhớ). Trọng lượng 0,437kg (bao gồm pin và thẻ nhớ).

								</p>

								<h4>Đánh giá</h4>
								<h5>Mô tả của nhà sản xuất </h5>
								<p>
									Với ống kính zoom quang học Fujinon 18x hào phóng, S2950 thực sự có một cú đấm, đặc
									biệt là khi được kết hợp với cảm biến 14 megapixel, màn hình LCD lớn 3.0 "và quay
									phim HD 720p (30 khung hình / giây).
								</p>

								<h5>Ống kính zoom Fujinon 18x chạy bằng điện</h5>
								<p>
									S2950 có ống kính zoom quang Fujinon độ chính xác cao 28mm - 504mm *. Hoạt động đơn
									giản với cần gạt zoom chạy bằng điện, phạm vi zoom khổng lồ có nghĩa là bạn có thể
									chụp tất cả các chi tiết, ngay cả khi bạn ở khoảng cách đáng kể. Bạn thậm chí có thể
									vận hành thu phóng trong khi quay video. Không giống như một chiếc D-SLR cồng kềnh,
									máy ảnh cầu cho phép bạn có khả năng thu phóng linh hoạt tuyệt vời mà không gặp khó
									khăn khi mang theo túi đựng ống kính.
								</p>
								<h5>Ảnh toàn cảnh ấn tượng</h5>
								<p>
									Với chế độ chụp Toàn cảnh dễ sử dụng, bạn có thể sáng tạo trên S2950, ​​tuy nhiên,
									cơ bản là các kỹ năng của bạn và yên tâm rằng bạn sẽ không mạo hiểm chụp các phong
									cảnh không bằng phẳng hoặc chân trời run rẩy. Máy ảnh cho phép bạn chụp ba bức ảnh
									liên tiếp với một công cụ hữu ích tự động nhả cửa trập một khi các hình ảnh được căn
									chỉnh hoàn toàn để ghép liền mạch các bức ảnh lại với nhau trong máy ảnh. Thật dễ
									dàng và kết quả thật ấn tượng.
								</p>

								<h5>Ảnh sắc nét</h5>
								<p>
									Ngay cả ở các cài đặt thu phóng dài nhất hoặc trong điều kiện ánh sáng khó khăn
									nhất, S2950 vẫn có thể tạo ra kết quả rõ nét, sắc nét. Với khả năng ổn định cơ học
									1/2 3 ", cảm biến CCD 14 megapixel và cài đặt độ nhạy sáng ISO cao, công nghệ Ổn
									định hình ảnh kép của Fujifilm kết hợp để giảm hiệu ứng làm mờ của cả rung tay và
									chuyển động chủ thể để mang lại hình ảnh tuyệt vời.
								</p>
							</div>
							<div class="tab-pane fade" id="profile">
								<div id="myTab" class="pull-right">
									<a href="#listView" data-toggle="tab"><span class="btn btn-large"><i
												class="icon-list"></i></span></a>
									<a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i
												class="icon-th-large"></i></span></a>
								</div>
								<br class="clr" />
								<hr class="soft" />
								<div class="tab-content">
									<div class="tab-pane" id="listView">
										<div class="row">
											<div class="span2">
												<img src="/images/products/4.jpg" alt="" />
											</div>
											<div class="span4">
												<h3>New | Available</h3>
												<hr class="soft" />
												<h5>Product Name </h5>
												<p>
													Nowadays the lingerie industry is one of the most successful
													business spheres.We always stay in touch with the latest fashion
													tendencies -
													that is why our goods are so popular..
												</p>
												<a class="btn btn-small pull-right" href="/product_details">View
													Details</a>
												<br class="clr" />
											</div>
											<div class="span3 alignR">
												<form class="form-horizontal qtyFrm">
													<h3> $222.00</h3>
													<label class="checkbox">
														<input type="checkbox"> Adds product to compair
													</label><br />
													<div class="btn-group">
														<a href="/product_details" class="btn btn-large btn-primary">
															Add to <i class=" icon-shopping-cart"></i></a>
														<a href="/product_details" class="btn btn-large"><i
																class="icon-zoom-in"></i></a>
													</div>
												</form>
											</div>
										</div>
										<hr class="soft" />
										<div class="row">
											<div class="span2">
												<img src="/images/products/5.jpg" alt="" />
											</div>
											<div class="span4">
												<h3>New | Available</h3>
												<hr class="soft" />
												<h5>Product Name </h5>
												<p>
													Nowadays the lingerie industry is one of the most successful
													business spheres.We always stay in touch with the latest fashion
													tendencies -
													that is why our goods are so popular..
												</p>
												<a class="btn btn-small pull-right" href="/product_details">View
													Details</a>
												<br class="clr" />
											</div>
											<div class="span3 alignR">
												<form class="form-horizontal qtyFrm">
													<h3> $222.00</h3>
													<label class="checkbox">
														<input type="checkbox"> Adds product to compair
													</label><br />
													<div class="btn-group">
														<a href="/product_details" class="btn btn-large btn-primary">
															Add to <i class=" icon-shopping-cart"></i></a>
														<a href="/product_details" class="btn btn-large"><i
																class="icon-zoom-in"></i></a>
													</div>
												</form>
											</div>
										</div>
										<hr class="soft" />
										<div class="row">
											<div class="span2">
												<img src="/images/products/6.jpg" alt="" />
											</div>
											<div class="span4">
												<h3>New | Available</h3>
												<hr class="soft" />
												<h5>Product Name </h5>
												<p>
													Nowadays the lingerie industry is one of the most successful
													business spheres.We always stay in touch with the latest fashion
													tendencies -
													that is why our goods are so popular..
												</p>
												<a class="btn btn-small pull-right" href="/product_details">View
													Details</a>
												<br class="clr" />
											</div>
											<div class="span3 alignR">
												<form class="form-horizontal qtyFrm">
													<h3> $222.00</h3>
													<label class="checkbox">
														<input type="checkbox"> Adds product to compair
													</label><br />
													<div class="btn-group">
														<a href="/product_details" class="btn btn-large btn-primary">
															Add to <i class=" icon-shopping-cart"></i></a>
														<a href="/product_details" class="btn btn-large"><i
																class="icon-zoom-in"></i></a>
													</div>
												</form>
											</div>
										</div>
										<hr class="soft" />
										<div class="row">
											<div class="span2">
												<img src="/images/products/7.jpg" alt="" />
											</div>
											<div class="span4">
												<h3>New | Available</h3>
												<hr class="soft" />
												<h5>Product Name </h5>
												<p>
													Nowadays the lingerie industry is one of the most successful
													business spheres.We always stay in touch with the latest fashion
													tendencies -
													that is why our goods are so popular..
												</p>
												<a class="btn btn-small pull-right" href="/product_details">View
													Details</a>
												<br class="clr" />
											</div>
											<div class="span3 alignR">
												<form class="form-horizontal qtyFrm">
													<h3> $222.00</h3>
													<label class="checkbox">
														<input type="checkbox"> Adds product to compair
													</label><br />
													<div class="btn-group">
														<a href="/product_details" class="btn btn-large btn-primary">
															Add to <i class=" icon-shopping-cart"></i></a>
														<a href="/product_details" class="btn btn-large"><i
																class="icon-zoom-in"></i></a>
													</div>
												</form>
											</div>
										</div>

										<hr class="soft" />
										<div class="row">
											<div class="span2">
												<img src="/images/products/8.jpg" alt="" />
											</div>
											<div class="span4">
												<h3>New | Available</h3>
												<hr class="soft" />
												<h5>Product Name </h5>
												<p>
													Nowadays the lingerie industry is one of the most successful
													business spheres.We always stay in touch with the latest fashion
													tendencies -
													that is why our goods are so popular..
												</p>
												<a class="btn btn-small pull-right" href="/product_details">View
													Details</a>
												<br class="clr" />
											</div>
											<div class="span3 alignR">
												<form class="form-horizontal qtyFrm">
													<h3> $222.00</h3>
													<label class="checkbox">
														<input type="checkbox"> Adds product to compair
													</label><br />
													<div class="btn-group">
														<a href="/product_details" class="btn btn-large btn-primary">
															Add to <i class=" icon-shopping-cart"></i></a>
														<a href="/product_details" class="btn btn-large"><i
																class="icon-zoom-in"></i></a>
													</div>
												</form>
											</div>
										</div>
										<hr class="soft" />
										<div class="row">
											<div class="span2">
												<img src="/images/products/9.jpg" alt="" />
											</div>
											<div class="span4">
												<h3>New | Available</h3>
												<hr class="soft" />
												<h5>Product Name </h5>
												<p>
													Nowadays the lingerie industry is one of the most successful
													business spheres.We always stay in touch with the latest fashion
													tendencies -
													that is why our goods are so popular..
												</p>
												<a class="btn btn-small pull-right" href="/product_details">View
													Details</a>
												<br class="clr" />
											</div>
											<div class="span3 alignR">
												<form class="form-horizontal qtyFrm">
													<h3> $222.00</h3>
													<label class="checkbox">
														<input type="checkbox"> Adds product to compair
													</label><br />
													<div class="btn-group">
														<a href="/product_details" class="btn btn-large btn-primary">
															Add to <i class=" icon-shopping-cart"></i></a>
														<a href="/product_details" class="btn btn-large"><i
																class="icon-zoom-in"></i></a>
													</div>
												</form>
											</div>
										</div>
										<hr class="soft" />
									</div>
									<div class="tab-pane active" id="blockView">
										<ul class="thumbnails">
											<li class="span3">
												<div class="thumbnail">
													<a href="/product_details"><img src="/images/products/6.jpg"
															alt="" /></a>
													<div class="caption">
														<h5>Thẻ nhớ SDHC</h5>
														<p>
															8GB cho phép lưu trữ thoải mái.
														</p>

														<h4 style="text-align:center"><a class="btn"
																href="/product_details"> <i
																	class="icon-zoom-in"></i></a> <a class="btn"
																href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
															<a class="btn btn-primary" href="#">299.000 đ</a></h4>
													</div>
												</div>
											</li>
											<li class="span3">
												<div class="thumbnail">
													<a href="/product_details"><img src="/images/products/7.jpg"
															alt="" /></a>
													<div class="caption">
														<h5>USB chuyển đổi SDHC</h5>
														<p>
															Tốc độ đọc nhanh với tiêu chuẩn 2.0.
														</p>
														<h4 style="text-align:center"><a class="btn"
																href="/product_details"> <i
																	class="icon-zoom-in"></i></a> <a class="btn"
																href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
															<a class="btn btn-primary" href="#">399.000 đ</a></h4>
													</div>
												</div>
											</li>
											<li class="span3">
												<div class="thumbnail">
													<a href="/product_details"><img src="/images/products/8.jpg"
															alt="" /></a>
													<div class="caption">
														<h5>Thẻ nhớ SDHC</h5>
														<p>
															Tốc độ cao 45MB/s, 16GB
														</p>
														<h4 style="text-align:center"><a class="btn"
																href="/product_details"> <i
																	class="icon-zoom-in"></i></a> <a class="btn"
																href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
															<a class="btn btn-primary" href="#">899.000 đ</a></h4>
													</div>
												</div>
											</li>
											<li class="span3">
												<div class="thumbnail">
													<a href="/product_details"><img src="/images/products/9.jpg"
															alt="" /></a>
													<div class="caption">
														<h5>Máy ảnh Fujifilm</h5>
														<p>
															Tặng sạc, Thẻ nhớ nhớ và một túi đựng.
														</p>
														<h4 style="text-align:center"><a class="btn"
																href="/product_details"> <i
																	class="icon-zoom-in"></i></a> <a class="btn"
																href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
															<a class="btn btn-primary" href="#">3.990.000 đ</a></h4>
													</div>
												</div>
											</li>
											<li class="span3">
												<div class="thumbnail">
													<a href="/product_details"><img src="/images/products/10.jpg"
															alt="" /></a>
													<div class="caption">
														<h5>Thẻ nhớ SDHC</h5>
														<p>
															8GB cho phép lưu trữ thoải mái.
														</p>
														<h4 style="text-align:center"><a class="btn"
																href="/product_details"> <i
																	class="icon-zoom-in"></i></a> <a class="btn"
																href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
															<a class="btn btn-primary" href="#">299.000 đ</a></h4>
													</div>
												</div>
											</li>
											<li class="span3">
												<div class="thumbnail">
													<a href="/product_details"><img src="/images/products/11.jpg"
															alt="" /></a>
													<div class="caption">
														<h5>Máy ảnh Fujifilm</h5>
														<p>
															Không bao gồm sạc, túi và thẻ nhớ.
														</p>
														<h4 style="text-align:center"><a class="btn"
																href="/product_details"> <i
																	class="icon-zoom-in"></i></a> <a class="btn"
																href="#">Thêm vào <i class="icon-shopping-cart"></i></a>
															<a class="btn btn-primary" href="#">3.990.000 đ</a></h4>
													</div>
												</div>
											</li>
										</ul>

										<hr class="soft" />
									</div>
								</div>
								<br class="clr">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>