<div id="mainBody">
	<div class="container">
		<div class="row">
			<div id="sidebar" class="span3">
				<div class="well well-small"><a id="myCart" href="/product_summary"><img src="/images/ico-cart.png"
							alt="cart">3 Món trong giỏ hàng <span class="badge badge-warning pull-right">300.000
							đ</span></a></div>
				<ul id="sideManu" class="nav nav-tabs nav-stacked">
					<li class="subMenu open"><a> ĐIỆN TỬ [230]</a>
						<ul>
							<li><a class="active" href="/products"><i class="icon-chevron-right"></i>Máy ảnh (100)
								</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Máy tính, Tablets & laptop
									(30)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Điện thoại (80)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Âm thanh (15)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a> QUẦN ÁO [840] </a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nữ (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nữ (8)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Túi xách nữ (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nam (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nam (6)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo trẻ em (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày trẻ em (3)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a>THỨC ĂN VÀ NƯỚC UÓNG [1000]</a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Bia (35)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Nước ngọt (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Gà rán (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Thịt cừu (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Rượu vang (chai mang về) (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Cá (5)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Combo (3)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Tráng miệng (11)</a></li>
						</ul>
					</li>
					<li><a href="/products">SỨC KHOẺ & SẮC ĐẸP [18]</a></li>
					<li><a href="/products">THỂ THAO & ĐỜI SỐNG [58]</a></li>
					<li><a href="/products">SÁCH & GIẢI TRÍ [14]</a></li>
				</ul>
				<br />
				<div class="thumbnail">
					<img src="/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
					<div class="caption">
						<h5>Panasonic</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">4.000.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
					<div class="caption">
						<h5>Kindle</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">4.000.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
					<div class="caption">
						<h5>Phương thức thanh toán</h5>
					</div>
				</div>
			</div>
			<!-- Sidebar end=============================================== -->
			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
					<li class="active"> GIỎ HÀNG</li>
				</ul>
				<h3> GIỎ HÀNG [ <small>3 Món </small>]<a href="/products"
						class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Tiếp tục mua sắm </a></h3>
				<hr class="soft" />
				<table class="table table-bordered">
					<tr>
						<th> TÔI ĐÃ ĐĂNG KÝ RỒI </th>
					</tr>
					<tr>
						<td>
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="inputUsername">Tên tài khoản</label>
									<div class="controls">
										<input type="text" id="inputUsername" placeholder="Username">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputPassword1">Mật khẩu</label>
									<div class="controls">
										<input type="password" id="inputPassword1" placeholder="Password">
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn">Đăng nhập</button> HAY <a href="/register"
											class="btn">Đăng ký ngay!</a>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<a href="/forgetpass" style="text-decoration:underline">Quên mật khẩu
											?</a>
									</div>
								</div>
							</form>
						</td>
					</tr>
				</table>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Sản phẩm</th>
							<th>Mô tả</th>
							<th>Số lượng</th>
							<th>Giá</th>
							<th>Giảm giá</th>
							<th>Thuế</th>
							<th>Tổng cộng</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> <img width="60" src="/images/products/4.jpg" alt="" /></td>
							<td>Máy ảnh fujifilm<br />Màu : đen, chất liệu : nhựa; kim loại</td>
							<td>
								<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
										id="appendedInputButtons" size="16" type="text"><button class="btn"
										type="button"><i class="icon-minus"></i></button><button class="btn"
										type="button"><i class="icon-plus"></i></button><button class="btn btn-danger"
										type="button"><i class="icon-remove icon-white"></i></button> </div>
							</td>
							<td>2.400.000 đ</td>
							<td>400.000 đ</td>
							<td>240.000 đ</td>
							<td>2.240.000 đ</td>
						</tr>
						<tr>
							<td> <img width="60" src="/images/products/8.jpg" alt="" /></td>
							<td>Thẻ nhớ SHDC<br />Màu : đen, chất liệu : nhựa</td>
							<td>
								<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
										size="16" type="text"><button class="btn" type="button"><i
											class="icon-minus"></i></button><button class="btn" type="button"><i
											class="icon-plus"></i></button><button class="btn btn-danger"
										type="button"><i class="icon-remove icon-white"></i></button> </div>
							</td>
							<td>300.000 đ</td>
							<td>--</td>
							<td>30.000 đ</td>
							<td>330.000 đ</td>
						</tr>
						<tr>
							<td> <img width="60" src="/images/products/3.jpg" alt="" /></td>
							<td>Máy ảnh lumix<br />Màu : đen, chất liệu : nhựa; kim loại</td>
							<td>
								<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
										size="16" type="text"><button class="btn" type="button"><i
											class="icon-minus"></i></button><button class="btn" type="button"><i
											class="icon-plus"></i></button><button class="btn btn-danger"
										type="button"><i class="icon-remove icon-white"></i></button> </div>
							</td>
							<td>2.400.000 đ</td>
							<td>400.000 đ</td>
							<td>240.000 đ</td>
							<td>2.240.000 đ</td>
						</tr>

						<tr>
							<td colspan="6" style="text-align:right">Tổng cộng: </td>
							<td> 5.100.000 đ</td>
						</tr>
						<tr>
							<td colspan="6" style="text-align:right">Tổng giảm: </td>
							<td> 800.000 đ</td>
						</tr>
						<tr>
							<td colspan="6" style="text-align:right">Tổng thuế: </td>
							<td> 510.000 đ</td>
						</tr>
						<tr>
							<td colspan="6" style="text-align:right"><strong>TOTAL</strong></td>
							<td class="label label-important" style="display:block"> <strong> 4.810.000 đ </strong></td>
						</tr>
					</tbody>
				</table>


				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								<form class="form-horizontal">
									<div class="control-group">
										<label class="control-label"><strong> MÃ GIẢM GIÁ: </strong> </label>
										<div class="controls">
											<input type="text" class="input-medium" placeholder="CODE">
											<button type="submit" class="btn"> THÊM </button>
										</div>
									</div>
								</form>
							</td>
						</tr>

					</tbody>
				</table>

				<table class="table table-bordered">
					<tr>
						<th>CƯỚC VẬN CHUYỂN </th>
					</tr>
					<tr>
						<td>
							<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="inputCountry">Tỉnh/Thành phố </label>
									<div class="controls">
										<input type="text" id="inputCountry" placeholder="Tỉnh/Thành phố">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputPost">Mã bưu điện </label>
									<div class="controls">
										<input type="text" id="inputPost" placeholder="Mã bưu điện">
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn">TÍNH </button>
									</div>
								</div>
							</form>
						</td>
					</tr>
				</table>
				<a href="/products" class="btn btn-large"><i class="icon-arrow-left"></i> Tiếp tục mua sắm </a>
				<a href="/login" class="btn btn-large pull-right">Tiếp theo <i class="icon-arrow-right"></i></a>

			</div>
		</div>
	</div>
</div>