<div style="margin-left: 10px; margin-right:10px">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> LỊCH SỬ MUA HÀNG</li>
    </ul>
    <h3> LỊCH SỬ MUA HÀNG<a href="/products" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Tiếp tục
            mua sắm </a></h3>
    <hr class="soft" />

    <h4> Id đơn hàng: 12345</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Mô tả</th>
                <th>Số lượng</th>
                <th>Tình trạng</th>
                <th>Giá</th>
                <th>Giảm giá</th>
                <th>Thuế</th>
                <th>Tổng cộng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img width="60" src="/images/products/4.jpg" alt="" /></td>
                <td>Máy ảnh fujifilm<br />Màu : đen, chất liệu : nhựa; kim loại</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Chờ xác nhận</td>
                <td>2.400.000 đ</td>
                <td>400.000 đ</td>
                <td>240.000 đ</td>
                <td>2.240.000 đ</td>
            </tr>
            <tr>
                <td> <img width="60" src="/images/products/8.jpg" alt="" /></td>
                <td>Thẻ nhớ SHDC<br />Màu : đen, chất liệu : nhựa</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Chờ xác nhận</td>
                <td>300.000 đ</td>
                <td>--</td>
                <td>30.000 đ</td>
                <td>330.000 đ</td>
            </tr>
            <tr>
                <td> <img width="60" src="/images/products/3.jpg" alt="" /></td>
                <td>Máy ảnh lumix<br />Màu : đen, chất liệu : nhựa; kim loại</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Chờ xác nhận</td>
                <td>2.400.000 đ</td>
                <td>400.000 đ</td>
                <td>240.000 đ</td>
                <td>2.240.000 đ</td>
            </tr>

            <tr>
                <td colspan="7" style="text-align:right">Tổng cộng: </td>
                <td> 5.100.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right">Tổng giảm: </td>
                <td> 800.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right">Tổng thuế: </td>
                <td> 510.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right"><strong>TOTAL</strong></td>
                <td class="label label-important" style="display:block"> <strong> 4.810.000 đ </strong></td>
            </tr>
        </tbody>
    </table>


    <h4> Id đơn hàng: 32324</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Mô tả</th>
                <th>Số lượng</th>
                <th>Tình trạng</th>
                <th>Giá</th>
                <th>Giảm giá</th>
                <th>Thuế</th>
                <th>Tổng cộng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img width="60" src="/images/products/4.jpg" alt="" /></td>
                <td>Máy ảnh fujifilm<br />Màu : đen, chất liệu : nhựa; kim loại</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Đang vận chuyển</td>
                <td>2.400.000 đ</td>
                <td>400.000 đ</td>
                <td>240.000 đ</td>
                <td>2.240.000 đ</td>
            </tr>
            <tr>
                <td> <img width="60" src="/images/products/8.jpg" alt="" /></td>
                <td>Thẻ nhớ SHDC<br />Màu : đen, chất liệu : nhựa</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Đang vận chuyển</td>
                <td>300.000 đ</td>
                <td>--</td>
                <td>30.000 đ</td>
                <td>330.000 đ</td>
            </tr>
            <tr>
                <td> <img width="60" src="/images/products/3.jpg" alt="" /></td>
                <td>Máy ảnh lumix<br />Màu : đen, chất liệu : nhựa; kim loại</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Đang vận chuyển</td>
                <td>2.400.000 đ</td>
                <td>400.000 đ</td>
                <td>240.000 đ</td>
                <td>2.240.000 đ</td>
            </tr>

            <tr>
                <td colspan="7" style="text-align:right">Tổng cộng: </td>
                <td> 5.100.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right">Tổng giảm: </td>
                <td> 800.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right">Tổng thuế: </td>
                <td> 510.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right"><strong>TOTAL</strong></td>
                <td class="label label-important" style="display:block"> <strong> 4.810.000 đ </strong></td>
            </tr>
        </tbody>
    </table>


    <h4> Id đơn hàng: 94237</h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Mô tả</th>
                <th>Số lượng</th>
                <th>Tình trạng</th>
                <th>Giá</th>
                <th>Giảm giá</th>
                <th>Thuế</th>
                <th>Tổng cộng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img width="60" src="/images/products/4.jpg" alt="" /></td>
                <td>Máy ảnh fujifilm<br />Màu : đen, chất liệu : nhựa; kim loại</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Đã giao hàng</td>
                <td>2.400.000 đ</td>
                <td>400.000 đ</td>
                <td>240.000 đ</td>
                <td>2.240.000 đ</td>
            </tr>
            <tr>
                <td> <img width="60" src="/images/products/8.jpg" alt="" /></td>
                <td>Thẻ nhớ SHDC<br />Màu : đen, chất liệu : nhựa</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Đã giao hàng</td>
                <td>300.000 đ</td>
                <td>--</td>
                <td>30.000 đ</td>
                <td>330.000 đ</td>
            </tr>
            <tr>
                <td> <img width="60" src="/images/products/3.jpg" alt="" /></td>
                <td>Máy ảnh lumix<br />Màu : đen, chất liệu : nhựa; kim loại</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"
                            id="appendedInputButtons" size="16" type="text"> </div>
                </td>
                <td>Đã giao hàng</td>
                <td>2.400.000 đ</td>
                <td>400.000 đ</td>
                <td>240.000 đ</td>
                <td>2.240.000 đ</td>
            </tr>

            <tr>
                <td colspan="7" style="text-align:right">Tổng cộng: </td>
                <td> 5.100.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right">Tổng giảm: </td>
                <td> 800.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right">Tổng thuế: </td>
                <td> 510.000 đ</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align:right"><strong>TOTAL</strong></td>
                <td class="label label-important" style="display:block"> <strong> 4.810.000 đ </strong></td>
            </tr>
        </tbody>
    </table>
</div>