<div id="mainBody">
	<div class="container">
		<div class="row">
			<div id="sidebar" class="span3">
				<div class="well well-small"><a id="myCart" href="/product_summary"><img src="/images/ico-cart.png"
							alt="cart">3 Món trong giỏ hàng <span class="badge badge-warning pull-right">300.000
							đ</span></a></div>
				<ul id="sideManu" class="nav nav-tabs nav-stacked">
					<li class="subMenu open"><a> ĐIỆN TỬ [230]</a>
						<ul>
							<li><a class="active" href="/products"><i class="icon-chevron-right"></i>Máy ảnh (100)
								</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Máy tính, Tablets & laptop
									(30)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Điện thoại (80)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Âm thanh (15)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a> QUẦN ÁO [840] </a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nữ (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nữ (8)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Túi xách nữ (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo nam (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày nam (6)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Quần áo trẻ em (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Giày trẻ em (3)</a></li>
						</ul>
					</li>
					<li class="subMenu"><a>THỨC ĂN VÀ NƯỚC UÓNG [1000]</a>
						<ul style="display:none">
							<li><a href="/products"><i class="icon-chevron-right"></i>Bia (35)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Nước ngọt (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Gà rán (5)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Thịt cừu (45)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Rượu vang (chai mang về) (8)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Cá (5)</a>
							</li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Combo (3)</a></li>
							<li><a href="/products"><i class="icon-chevron-right"></i>Tráng miệng (11)</a></li>
						</ul>
					</li>
					<li><a href="/products">SỨC KHOẺ & SẮC ĐẸP [18]</a></li>
					<li><a href="/products">THỂ THAO & ĐỜI SỐNG [58]</a></li>
					<li><a href="/products">SÁCH & GIẢI TRÍ [14]</a></li>
				</ul>
				<br />
				<div class="thumbnail">
					<img src="/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
					<div class="caption">
						<h5>Panasonic</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">4.000.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
					<div class="caption">
						<h5>Kindle</h5>
						<h4 style="text-align:center"><a class="btn" href="/product_details"> <i
									class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào <i
									class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">4.000.000
								đ</a>
						</h4>
					</div>
				</div><br />
				<div class="thumbnail">
					<img src="/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
					<div class="caption">
						<h5>Phương thức thanh toán</h5>
					</div>
				</div>
			</div>
			<!-- Sidebar end=============================================== -->
			<div class="span9">
				<ul class="breadcrumb">
					<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
					<li class="active">Đăng ký</li>
				</ul>
				<h3> Đăng ký</h3>
				<div class="well">
					<!--
	<div class="alert alert-info fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	<div class="alert fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	 <div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div> -->
					<form class="form-horizontal">
						<h4>Thông tin cá nhân của bạn</h4>
						<div class="control-group">
							<label class="control-label">Giới tính <sup>*</sup></label>
							<div class="controls">
								<select class="span1" name="days">
									<option value="">-</option>
									<option value="1">Nam</option>
									<option value="2">Nữ</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputFname1">Họ và tên lót <sup>*</sup></label>
							<div class="controls">
								<input type="text" id="inputFname1" placeholder="Họ và tên lót">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputLnam">Tên <sup>*</sup></label>
							<div class="controls">
								<input type="text" id="inputLnam" placeholder="Tên">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input_email">Email <sup>*</sup></label>
							<div class="controls">
								<input type="text" id="input_email" placeholder="Email">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword1">Mật khẩu <sup>*</sup></label>
							<div class="controls">
								<input type="password" id="inputPassword1" placeholder="Password">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Ngày tháng năm sinh <sup>*</sup></label>
							<div class="controls">
								<select class="span1" name="days">
									<option value="">-</option>
									<option value="1">1&nbsp;&nbsp;</option>
									<option value="2">2&nbsp;&nbsp;</option>
									<option value="3">3&nbsp;&nbsp;</option>
									<option value="4">4&nbsp;&nbsp;</option>
									<option value="5">5&nbsp;&nbsp;</option>
									<option value="6">6&nbsp;&nbsp;</option>
									<option value="7">7&nbsp;&nbsp;</option>
								</select>
								<select class="span1" name="days">
									<option value="">-</option>
									<option value="1">1&nbsp;&nbsp;</option>
									<option value="2">2&nbsp;&nbsp;</option>
									<option value="3">3&nbsp;&nbsp;</option>
									<option value="4">4&nbsp;&nbsp;</option>
									<option value="5">5&nbsp;&nbsp;</option>
									<option value="6">6&nbsp;&nbsp;</option>
									<option value="7">7&nbsp;&nbsp;</option>
								</select>
								<select class="span1" name="days">
									<option value="">-</option>
									<option value="1">1&nbsp;&nbsp;</option>
									<option value="2">2&nbsp;&nbsp;</option>
									<option value="3">3&nbsp;&nbsp;</option>
									<option value="4">4&nbsp;&nbsp;</option>
									<option value="5">5&nbsp;&nbsp;</option>
									<option value="6">6&nbsp;&nbsp;</option>
									<option value="7">7&nbsp;&nbsp;</option>
								</select>
							</div>
						</div>

						<div class="alert alert-block alert-error fade in">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Vui lòng điền vào mẫu dưới</strong> cho biết địa chỉ, họ tên người nhận hàng.
						</div>

						<h4>Địa chỉ nhận hàng</h4>
						<div class="control-group">
							<label class="control-label" for="inputFname">Họ và tên lót <sup>*</sup></label>
							<div class="controls">
								<input type="text" id="inputFname" placeholder="Họ và tên lót">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputLname">Tên <sup>*</sup></label>
							<div class="controls">
								<input type="text" id="inputLname" placeholder="Tên" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="company">Công ty</label>
							<div class="controls">
								<input type="text" id="company" placeholder="Công ty" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="address">Địa chỉ<sup>*</sup></label>
							<div class="controls">
								<input type="text" id="address" placeholder="Địa chỉ" /> <span>Đường, số nhà, quận, thành phố</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="address2">Địa chỉ 2<sup>*</sup></label>
							<div class="controls">
								<input type="text" id="address2" placeholder="Địa chỉ 2" /> <span>Căn hộ, phòng, đơn vị, xây dựng, sàn, vv</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="city">Thành phố<sup>*</sup></label>
							<div class="controls">
								<input type="text" id="city" placeholder="Thành phố" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="state">Quận<sup>*</sup></label>
							<div class="controls">
								<select id="state">
									<option value="">-</option>
									<option value="1">Quận 1</option>
									<option value="2">Quận 2</option>
									<option value="3">Quận 3</option>
									<option value="4">Quận 4</option>
									<option value="5">Quận 5</option>
									<option value="6">Quận 6</option>
									<option value="7">Quận 7</option>
									<option value="8">Quận 8</option>
									<option value="9">Quận 9</option>
									<option value="10">Quận 10</option>
									<option value="11">Quận 11</option>
									<option value="12">Quận 12</option>
									<option value="13">Quận Tân Bình</option>
									<option value="14">Quận Bình Thạnh</option>
									<option value="15">Quận Gò Vấp</option>
									<option value="16">Quận Phú Nhuận</option>
									<option value="17">Quận Tân Bình</option>
									<option value="18">Quận Tân Phú</option>
									<option value="19">Quận Thủ Đức</option>
									<option value="20">Huyện Bình Chánh</option>
									<option value="21">Huyện Cần Giờ</option>
									<option value="22">Huyện Củ Chi</option>
									<option value="23">Huyện Hóc Môn</option>
									<option value="24">Huyện Nhà Bè</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="postcode">Mã bưu điện<sup>*</sup></label>
							<div class="controls">
								<input type="text" id="postcode" placeholder="Zip / Postal Code" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="country">Nước<sup>*</sup></label>
							<div class="controls">
								<select id="country">
									<option value="">-</option>
									<option value="1">Việt Nam</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="aditionalInfo">Thông tin thêm</label>
							<div class="controls">
								<textarea name="aditionalInfo" id="aditionalInfo" cols="26"
									rows="3">Thông tin thêm</textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="phone">Số nhà <sup>*</sup></label>
							<div class="controls">
								<input type="text" name="phone" id="phone" placeholder="số nhà" /> <span>Bạn phải đăng ký ít nhất một số điện thoại</span>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" for="mobile">Di động </label>
							<div class="controls">
								<input type="text" name="mobile" id="mobile" placeholder="Di động" />
							</div>
						</div>

						<p><sup>*</sup>Bắt buộc </p>

						<div class="control-group">
							<div class="controls">
								<input type="hidden" name="email_create" value="1">
								<input type="hidden" name="is_new_customer" value="1">
								<input class="btn btn-large btn-success" type="submit" value="Đăng ký" />
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>